<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
<th:block th:fragment="content">

<div class="container">

	    <input type="text" id="content" placeholder="보낼 메세지를 입력하세요.">
		<button type="button" id="sendBtn" value="전송" class="sendBtn" onclick="sendMsg()">전송</button>
		<button type="button" value="방나가기" class="quit" onclick="quit()">방 나가기 </button>
	
		<div class="wrap">
			<div>
			    <span>메세지 라인</span>
			    <div class="msgArea">
			    	<ul id="msgArea"></ul>
			    </div>
			</div>
		</div>
</div>

<script th:inline="javascript">
	const chatBno = [[${room.chatBno}]];
</script>
<script src="/js/chattingSpread.js"></script>
<script th:inline="javascript">
spreadChatList(chatBno);
</script>

</th:block>
</th:block>