<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
<th:block th:fragment="content">

<div class="container">

	    <input type="text" id="content" placeholder="보낼 메세지를 입력하세요.">
		<button type="submit" value="전송" class="sendBtn" onclick="sendMsg()">전송</button>
		<button type="button" value="방나가기" class="quit" onclick="quit()">방 나가기 </button>
	
		<div class="wrap">
			<div>
			    <span>메세지 라인</span>
			    <div class="msgArea">
			    
			    </div>
			</div>
		</div>
</div>

<script th:inline="javascript">
console.log('ChatRoom JavaScript Insert');
//임시로 값 넣어주기
let userEmail = "tester@naver.com";

function enterRoom(socket) {
    let enterMsg = {
        type: "ENTER",
        chatBno: [[${room.chatBno}]],
        sender: userEmail,
        message: ""
    };
    socket.send(JSON.stringify(enterMsg));
    console.log("enterMsg");    
    console.log(enterMsg);
}

let socket = new WebSocket("ws://localhost:8088/ws/chat");
console.log("socket");
console.log(socket);

socket.onopen = function (e) {
    console.log('서버에 연결되었습니다!');
    enterRoom(socket);
};

socket.onclose = function (e) {
    console.log('연결이 종료되었습니다');
};

socket.onerror = function (e) {
    console.log(e);
};

function sendMsg() {
    let content = document.getElementById('content').value;
    console.log(content);
    let talkMsg = {
        type: "TALK",
        chatBno: [[${room.chatBno}]],
        sender: userEmail,
        message: content
    };
    socket.send(JSON.stringify(talkMsg));
 	//서버로 메시지가 전송되었는지 확인용
    console.log("talkMsg :", talkMsg);
};


socket.onmessage = function (e) {
    console.log('WebSocket 메시지 수신:', e);
    let msgArea = document.querySelector('.msgArea');
    
    try {
        let message = JSON.parse(e.data);
        console.log('파싱된 메시지:', message);

        //클라이언트에서 서버로부터 수신한 메시지 확인용
        console.log('Received message from server:', message);

        if (message.type === 'ENTER' || message.type === 'QUIT') {
            let newMsg = document.createElement('div');
            console.log(message);
            newMsg.innerText = message.message; // 간소화된 메시지 표시
            msgArea.append(newMsg);
        } else if (message.type === 'TALK') {
            let newMsg = document.createElement('div');
            console.log(message);
            newMsg.innerText = message.sender + ': ' + message.message;
            msgArea.append(newMsg);
        }
    } catch (error) {
        console.error('WebSocket 메시지 처리 중 오류 발생:', error);
    }
};

function quit() {
    let quitMsg = {
        type: "QUIT",
        chatBno: [[${room.chatBno}]],
        sender: userEmail,
        message: ""
    };
    socket.send(JSON.stringify(quitMsg));
    socket.close();
    location.href = "/chat/chatList";
}
</script>
</th:block>
</th:block>