<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.SalGuMarket.www.repository.FileMapper">

	<select id="selectListAllFile" resultType="com.SalGuMarket.www.domain.FileVO">
		select * from file where bno=#{bno}
	</select>
	
	<select id="getFile" resultType="com.SalGuMarket.www.domain.FileVO">
		select * from file where email=#{email}
	</select>
	
	<insert id="saveProductFile">
		INSERT INTO file(uuid, save_dir, file_name, file_type, file_size, pno)
		VALUES(#{uuid}, #{saveDir}, #{fileName}, #{fileType}, #{fileSize}, #{pno})
	</insert>
	
	<insert id="insertProfile">
		INSERT INTO file(uuid, save_dir, file_name, file_type, file_size, email)
		VALUES(#{uuid}, #{saveDir}, #{fileName}, #{fileType}, #{fileSize}, #{email})
	</insert>
	
	<delete id="deleteFile">
		delete from file where email=#{email}
	</delete>
	
	<select id="getFileName" resultType="String">
		select file_name from file where email=#{email}
	</select>
	
	<insert id="insertFile">
		INSERT INTO file(uuid, save_dir, file_name, file_type, file_size, bno)
		VALUES(#{uuid}, #{saveDir}, #{fileName}, #{fileType}, #{fileSize}, #{bno})
	</insert>

	<select id="selectProfile" resultType="com.SalGuMarket.www.domain.FileVO">
		select * from file where email=#{email}
	</select>
	
	<select id="getHelpFileList" resultType="com.SalGuMarket.www.domain.FileVO">
		select * from file where h_bno=#{hbno}
	</select>
</mapper>