<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.SalGuMarket.www.repository.FileMapper">

	<select id="selectListAllFile" resultType="com.SalGuMarket.www.domain.FileVO">
		select * from file where bno=#{bno}
	</select>
	
	<insert id="saveProductFile">
		INSERT INTO file(uuid, save_dir, file_name, file_type, file_size, pno)
		VALUES(#{uuid}, #{saveDir}, #{fileName}, #{fileType}, #{fileSize}, #{pno})
	</insert>
	
	<insert id="insertFile">
		INSERT INTO file(uuid, save_dir, file_name, file_type, file_size, bno)
		VALUES(#{uuid}, #{saveDir}, #{fileName}, #{fileType}, #{fileSize}, #{bno})
	</insert>

</mapper>