<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
<th:block th:fragment="content">
<link rel="stylesheet" type="text/css" href="/css/board.css">

    <!-- Featured Section Begin -->
    <section class="table">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="featured__controls">
						<table class="table">
							<thead>
								<tr>
							      <th scope="col">[[${bdto.bvo.bno}]]</th>
							      <th scope="col">제목: [[${bdto.bvo.title}]]</th>
							      <!-- <th scope="col">작성자: [[${bdto.bvo.nickName}]]</th> -->
							      <th scope="col" style="text-align: right;">작성자: [[${bdto.bvo.nickName}]] 작성일: [[${bdto.bvo.regAt}]]</th>
							    </tr>
							</thead>
							<tbody>
								<tr>
									<td rowspan="20" colspan="3">[[${bdto.bvo.content}]]</td>
								</tr> 
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
    </section>
    <!-- Featured Section End -->
    
    <!-- Comment Section Begin -->   
    <div th:if="${loginmvo!=null}">
    <section class="comment-area">
		<div class="container">
		
		<div class="input-group mb-3">
		  <input type="text" id="cmtText" class="form-control" placeholder="댓글 내용을 입력해주세요." aria-label="Recipient's username" aria-describedby="button-addon2">
		  <input type="text" id="cmtNickName" th:value="${loginmvo.nickName}">
		  <input type="text" id="cmtEmail" th:value="${loginmvo.email}">
		  <button class="btn" id="cmtPostBtn" type="button">등록</button>
		</div>
		
			<ul class="list-group list-group-numbered" id="cmtListArea">
			  <li class="list-group-item d-flex justify-content-between align-items-start">
			    <div class="ms-2 me-auto">
			      <div id="cmtWriter" class="fw-bold">닉네임<span>작성일</span></div>
			      댓글내용 
			    </div>
			    <button class="cmtModBtn cmtBtn" type="button">수정</button>
			    <button class="cmtDelBtn cmtBtn" type="button">삭제</button>
			  </li>
			</ul>
    		<button type="button" class="moreBtn" id="moreBtn">더보기</button>
		</div>
    </section>
    </div>
    <br><br><br>
    <!-- Comment Section End -->
        
    <!-- Pagination Section Begin-->
    <section class="button-area">
	    <div class="container">
		    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
			  <a href="/board/boardList"><button class="btn listBtn" type="button">목록</button></a>
			  <div th:if="${loginmvo!=null}">
				  <a th:href="@{/board/boardModify(bno=${bdto.bvo.bno})}"><button class="btn modBtn" type="button">수정</button></a>
				  <a th:href="@{/board/boardRemove(bno=${bdto.bvo.bno})}"><button class="btn delBtn" type="button">삭제</button></a>
			  </div>
			</div>
	    </div>
    </section>
	<br><br><br>
	<!-- Pagination Section End-->
	<script th:inline="javascript">
		const bnoVal = [[${bdto.bvo.bno}]];
	</script>
	<script th:src="@{/js/board/boardComment.js}"></script>
	<script>spreadCommentList(bnoVal);</script>
	
</th:block>   
</th:block>