<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
<th:block th:fragment="content">
<link rel="stylesheet" type="text/css" href="/css/login.css">
<link rel="stylesheet" type="text/css" href="/css/register.css">
<link rel="stylesheet" type="text/css" href="/css/mypage.css">

    <section class="hero">
    	<div class="container md">
        	<h2 style=" text-align: center; padding-top: 20px;">내 정보</h2>
        		<div class="col-lg-9 mypage">
	        		<div class="profile-image-box">
				        <label class="profile-image">프로필 사진</label>
				        <img id="profile-image-display" class="profile-image-display" alt="프로필 사진 미리보기" src="/img/salgu_profile.png"><br>
				        <input type="file" id="profile-image-input" accept="image/*">
	        		</div>
			        <label for="email">이메일</label>
			        <span id="userEmail">${model.email}</span>
			        <label for="walletAddress">지갑 주소</label>
			        <span id="walletAddress">${model.walletAddress}</span>
			        <label for="nickName">닉네임</label>
			        <span id="nickName">${model.nickName}</span>
			        <label for="phone">전화번호</label>
			        <span id="phone">${model.phone}</span>
		        </div>
        </div>
    </section>

    <section id="favoriteList">
        <h2 style=" text-align: center; padding-top: 20px;">찜 목록</h2>
        <ul id="favoriteItems">
            <li class="favorite">찜 목록</li>
        </ul>
    </section>

    <section id="myPosts">
        <h2 style=" text-align: center; padding-top: 20px;">내가 쓴 글</h2>
        <ul id="myPostList">
            <li class="myPost">내가 쓴 글</li>
        </ul>
    </section>

    <script>
    	//프로필 사진 변경시 미리보기 출력 추가 예정
        /* document.getElementById('profile-image-input').addEventListener('change', function(event) {

        }); */
    </script>

</th:block>
</th:block>