<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
<th:block th:fragment="content">
<link rel="stylesheet" type="text/css" href="/css/login.css">
<link rel="stylesheet" type="text/css" href="/css/register.css">
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.6.0/kakao.min.js"
  integrity="sha384-6MFdIr0zOira1CHQkedUqJVql0YtcZA1P0nbPrQYJXVJZUkTk/oX4U9GhUIs3/z8" crossorigin="anonymous"></script>
<script>
  Kakao.init('3244b569369e774732325d496ac57468'); // 사용하려는 앱의 JavaScript 키 입력
</script>
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  
  <section class="hero">
        <div class="container md" style="margin-top: 40px;">
  			<h2 style=" text-align: center;">회원가입</h2>
  			<div class="col-lg-9">
			<form class="register-form" action="/member/register" method="post">
				<div class="mb-3">
				  <label for="email" class="form-label">이메일</label>
				  <input type="email" name="email" class="form-control" id="email" placeholder="example@text.com">
				</div>
				<div class="mb-3">
				  <label for="password" class="form-label">비밀번호</label>
				  <input type="password" name="pwd" class="form-control" id="pwd" placeholder="Enter Password">
				</div>
				<div class="mb-3">
				  <label for="nickName" class="form-label">닉네임</label>
				  <input type="text" name="nickName" class="form-control" id="nickName" placeholder="Enter Nickname">
				</div>
				
				<button type="submit" class="btn" id="regBtn">회원가입</button>
			
			</form>
			</div>
			</div>
			</section>
  
  
  <!-- <a id="kakao-login-btn" href="javascript:loginWithKakao()">
  <img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="222"
    alt="카카오 로그인 버튼" />
	</a> -->
  <button class="api-btn" onclick="requestUserInfo()">사용자 정보 가져오기</button>
  <p id="token-result"></p>
  
  <script src="/js/kakao_login.js"></script>
  <script>
  function loginWithKakao() {
	    Kakao.Auth.authorize({
	      redirectUri: 'http://localhost:8080/member/login',
	      state: 'userme',
	    });
	}
  function requestUserInfo() {
    Kakao.API.request({
      url: '/v2/user/me',
    })
      .then(function(res) {
        alert(res);
      })
      .catch(function(err) {
        alert(
          'failed to request user information: ' + JSON.stringify(err)
        );
      });
  }
  </script>
  </th:block>
  </th:block>